{% extends 'users/base.html' %}
{% block content %}
<div class="card mx-auto" style="width: 40rem;">
<div class="card-body">
    <h5 class="card-title mb-3">Login to Continue!</h5>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="input" name="username" class="form-control" id="username"/>

        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password"/>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
</div>

{% endblock content %}